* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --light-mode: #fafaff;
  --dark-mode: #27292d;
  --light-mode-card: #fff;
  --dark-mode-card: #303133;
  --light-mode-card-bottom-header: #ecececdc;
  --dark-mode-card-bottom-header: #3e3f41;
  --light-mode-nav-bg: #3b4764;
  --dark-mode-nav-bg: #57668a;
  --dark-mode-text: #d3d2d2;
  --light-mode-text: #1a202c;
  --dark-mode-modal-bg: #363b59;
  --light-mode-modal-bg: #fff;
  --light-mode-input-bg: #f3f3f4;
  --dark-mode-input-bg: #3d3b41;
  --light-mode-input-color: #353535;
  --dark-mode-input-color: #fff;
  --light-mode-input-border: 1px solid #c6c9c9;
  --dark-mode-card-input-border: 1px solid #b9b9b97c;
  --dark-mode-input-border: 1px solid #9c9c9c57;
  --dark-mode-jodit-input-bg: #48454d;
  --light-mode-post-card-button: #e1e1f5da;
  --dark-mode-post-card-button: #e1e1f54f;
  --light-mode-blogmark-header: #eff1f2;
  --light-mode-blogmark-body: #fffffff8;
  --dark-mode-blogmark-header: #373f47;
  --dark-mode-blogmark-body: #515d6eb0;
}

.light-mode {
  --bg: var(--light-mode);
  --card-bg: var(--light-mode-card);
  --card-bottom-header: var(--light-mode-card-bottom-header);
  --nav-bg: var(--light-mode-nav-bg);
  --text: var(--light-mode-text);
  --modal-bg: var(--light-mode-modal-bg);
  --input-bg: var(--light-mode-input-bg);
  --input-color: var(--light-mode-input-color);
  --input-border: var(--light-mode-input-border);
  --post-card-button: var(--light-mode-post-card-button);
  --blogmark-header: var(--light-mode-blogmark-header);
  --blogmark-body: var(--light-mode-blogmark-body);
}

.dark-mode {
  --bg: var(--dark-mode);
  --card-bg: var(--dark-mode-card);
  --card-bottom-header: var(--dark-mode-card-bottom-header);
  --nav-bg: var(--dark-mode-nav-bg);
  --text: var(--dark-mode-text);
  --modal-bg: var(--dark-mode-modal-bg);
  --input-bg: var(--dark-mode-input-bg);
  --input-color: var(--dark-mode-input-color);
  --input-border: var(--dark-mode-card-input-border);
  --post-card-button: var(--dark-mode-post-card-button);
  --blogmark-header: var(--dark-mode-blogmark-header);
  --blogmark-body: var(--dark-mode-blogmark-body);
}

$base-color: #1e90ff;
$button-hover-color: #2089f1;
$main-font-family: Barlow, sans-serif;

%flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

%flex-center-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

%blue-3d-button {
  position: relative;
  vertical-align: top;
  width: 70%;
  height: 50px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: $base-color;
  border: 0;
  border-bottom: 2px solid #1975d1;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #1975d1;
  box-shadow: inset 0 -2px #1975d1;
}

%blue-3d-button-hover {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

%blue-3d-button-disabled {
  background-color: #4e85ebb6;
  border-bottom: 2px solid #1d30556e;
}

%profile-picture-size-35 {
  width: 35px;
  height: 35px;
}

%profile-picture-size-30 {
  width: 30px;
  height: 30px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: $base-color var(--bg);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #3c65b348;
}
::-webkit-scrollbar-thumb {
  background-color: $base-color;
  border-radius: 20px;
  border: 3px solid $base-color;
}

.hidden-desktop {
  display: none;
}

body {
  background: var(--bg);
  width: 100%;
}

h1,
h2,
h3,
h4,
label,
span,
button,
em,
li,
a {
  font-family: $main-font-family;
  color: var(--text);
}

p {
  font-family: Raleway;
  color: var(--text);
}

button, .button {
  cursor: pointer;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  font-size: 0.9em;
}

.profile-picture {
  border-radius: 50%;
}

.delete-button {
  background-color: #f53d3d !important;

  &:hover {
    background-color: #df3838 !important;
  }
}

.lower-hierarchy-button-color {
  background-color: #fff !important;
  border: 1px solid $base-color !important;
  color: $base-color !important;
}

.usertag-span {
  color: $base-color;
}

.usertag-span-home {
  color: #303133;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  text-transform: uppercase;
}

.error-message {
  @extend %flex-center-row;
  color: #fff;
  background-color: rgb(248, 125, 125);
  border: 1px solid #a11f1f;
  padding: 8px 15px;
  margin: 10px auto;
  border-radius: 5px;
  font-size: 1em;
  font-family: $main-font-family;
  max-width: 90%;
}

.notyf,
.window-title {
  font-family: 'Noto Sans', sans-serif;
}

nav {
  @extend %flex-center-row;
  position: fixed;
  height: 75px;
  z-index: 3;
  width: 100%;
  background: var(--nav-bg);
  padding: 0px 40px;
  box-sizing: border-box;

  .mobile-nav {
    display: none;
  }

  .site-logo {
    width: 40px;
    display: flex;
  }

  .site-logo-link {
    background-color: #fafaff;
  }

  .right-nav-bar {
    @extend %flex-center-row;
    margin-left: auto;

    .sign-up {
      margin-left: 10px;
      color: #fff;
    }
  }

  .right-nav-bar img, dropdown img {
    margin-left: 30px;

    &:nth-of-type(1) {
      @extend %profile-picture-size-35;
    }

    &:hover {
      cursor: pointer;
    }
  }

  button {
    color: #1a202c;

    &:hover {
      background-color: rgb(240, 236, 236);
    }
  }

  .sign-out-link {
    color: #da2a2a !important;
    cursor: pointer;
  }

  .mobile-overlay-content {
    @extend %flex-center-column;
    height: 100%;
    background-color: var(--bg);
    font-size: 2em;
    line-height: 1.5;
  }

  .search-component-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    input {
      height: 30px;
      width: 260px;
      background-color: var(--input-bg);
      color: var(--input-color);
      opacity: 0.9;
      border: none;
      padding: 0 10px;
      font-size: 1rem;
      font-family: $main-font-family;
      border-radius: 5px;
      box-sizing: border-box;

    }
  }

  .ais-Hits {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #fff;
    color: #27292d;
    width: 260px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 2px;

    li {
      cursor: pointer;
      line-height: 1.5;
      
      &:hover {
        text-decoration: underline;
        
      }
    }
  }

  mark {
    background-color: #8aa6e7;
    color: #fff;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    &.round {
      border-radius: 35px;
    }

    &.round:before {
      border-radius: 50%;
    }
  }

  .slider:before {
    position: absolute;
    content: '';
    height: 30px;
    width: 30px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url('./assets/images/moon-icon.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }

  input:checked + .slider {
    background-color: #1a202c;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #1a202c;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url('./assets/images/sun-icon.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.dropdown {
  position: relative;
  z-index: 3;

  span:hover {
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
    right: 1px;
    border-radius: 5px;

    .dropdown-items {
      color: #000000;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-transform: uppercase;
      font-family: $main-font-family;

      &:hover {
        background-color: #e9e9e9 !important;
        border-radius: 5px;
      }

      &:focus {
        background-color: #e9e9e9 !important;
        border-radius: 5px;
      }
    }
  }

  &:hover .dropdown-content {
    display: block;
  }
}

.key-info {
  color: $base-color !important;
  font-weight: 500;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea {
  background-color: var(--input-bg);
  color: var(--input-color);
  opacity: 0.9;
  width: 90%;
  border: none;
  padding: 0 5px;
  line-height: 1.6;
  font-size: 1rem;
  font-family: $main-font-family;
  margin-bottom: 0.8rem;
  border-radius: 5px;
  box-sizing: border-box;
  resize: none;
}

.input-width {
  width: 90%;
  max-height: 500px;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  max-width: 800px;
  width: 100%;
  margin: auto;
  position: relative;
  top: 75px;

  > div {
    margin: 20px 0;
  }

  > section {
    padding: 24px;
  }
}

// Modal Component

.modal {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  min-width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  transition: transform 800ms ease;

  .modal-content-container {
    background-color: var(--modal-bg);
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 95%;
    top: 0px;
    box-sizing: border-box;
    border-radius: 5px;
    animation: show 0.2s;

    @keyframes show {
      from {
        transform: scale(0);
        opacity: 0;
        z-index: -1;
      }
      to {
        transform: scale(1);
        opacity: 1;
        z-index: 2;
      }
    }

    > div:nth-child(1) {
      background-color: #3d6bc0;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-radius: 5px 5px 0 0;
      box-sizing: border-box;
      padding: 2px 15px;
    }

    .modal-header {
    }

    h3 {
      color: #fff;
      font-family: 'Noto Sans';
      font-weight: 500;
    }

    .modal-content {
      @extend %flex-center-row;
      padding: 10px 0px;
      box-sizing: border-box;
      width: 100%;
      align-items: flex-start;
      margin: auto 0;

      p {
        padding: 0 20px;
        box-sizing: border-box;
        margin-top: 15px;
      }

      span {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 4px 0;
        font-size: 1.1em;

        &:hover {
          cursor: pointer;
        }

        &:nth-last-child(1) {
          color: #f53d3d;
        }

        svg {
          margin-right: 5px;
        }
      }
    }

    .buttons-container {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;

      > button {
        padding-left: 20px;
        padding-right: 20px;
      }

      > button:nth-child(1) {
        margin-right: 10px;
        background-color: #8388a4;

        &:hover {
          background-color: #797e99;
        }
      }
    }
  }
}

.close {
  color: #fff;
  float: right;
  font-weight: bold;
  font-size: 1.5em;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

.home-component {
  @extend %flex-center-column;
  width: 100%;
}

.home-component-featured-post {
  background: var(--card-bg);
  transition: background 800ms ease-in-out, transform 300ms;
  width: 90%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);

  .featured-post-content {
    padding: 30px 15px;

    > div {
      margin-left: 45px;

      .post-bottom {
        display: flex;

        > span {
          display: flex;
          align-items: center;

          &:nth-of-type(1) {
            margin-right: 10px;
          }

          > span {
            margin-left: 5px;
          }
        }

        img {
          width: 20px;
          margin-right: 5px;
        }

        button {
          margin-left: auto;
          background-color: var(--post-card-button);
        }
      }
    }

    .usertag-span-home {
      img {
        @extend %profile-picture-size-35;
      }

      > span {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
      }
    }

    h1 {
      font-size: 2em;
      margin-top: 5px;
      color: var(--text);
      font-weight: 400;

      &:hover {
        color: $base-color;
      }
    }
  }

  .featured-post-img {
    width: 100%;
    height: 320px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0 0;
  }
}

.home-component-posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 0.6fr));
  grid-template-rows: auto;
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 20px 0;
  height: auto;

  p {
    margin-top: 10px;
  }
}

.card {
  background: var(--card-bg);
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 230px;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
  transition: background 800ms ease-in-out, transform 300ms;

  .card-link,
  span {
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .profile-picture {
    @extend %profile-picture-size-35;
    margin-right: 10px;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 10px rgba(10, 9, 15, 0.274);
  }

  .card-thing {
    background-color: #4e85eb;
  }
}

.card-content {
  padding: 16px;

  p,
  span {
    color: var(--text);
    transition: color 800ms ease-in-out;
  }

  a {
    display: inline-block;
    margin-top: 12px;
  }

  .card-title {
    a {
      display: block;
    }

    h3 {
      font-weight: 400;
      font-size: 1.3em;
      color: var(--text);

      &:hover {
        color: $base-color;
      }
    }

    span {
      font-size: 0.85em;
      text-transform: uppercase;
      font-weight: 400;
    }
  }

  .post-bottom {
    display: flex;
    justify-content: space-between;

    button {
      margin-left: auto;
      background-color: var(--post-card-button);
    }
  }
}

.post-component {
  max-width: 700px;
  width: 100%;
  height: auto;
  border: 1px solid #74747444;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 400px auto;
  overflow: hidden;
  background-color: var(--card-bg);

  .post-image-container {
    overflow: hidden;

    span {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .post-content {
    padding: 50px;
    position: relative;

    h1 {
      font-weight: 400;
    }

    .post-body {
      &::selection {
        background-color: rgba(30, 143, 255, 0.616);
      }
      &::-moz-selection {
        background-color: rgba(30, 143, 255, 0.616);
      }
    }

    .more-info-dots {
      width: 25px;
      margin-left: auto;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .like-component {
    background-color: var(--card-bottom-header);
    box-sizing: border-box;
    height: 40px;

    button {
      background-color: #fafaff;
      font-weight: bold;
      height: 100%;
      border-radius: 5px 0 0 5px;
      margin-left: 0;
      border: 1px solid #31313144;
    }

    span:nth-of-type(1) {
      color: rgb(75, 105, 243);
    }
  }

  p {
    line-height: 1.8;
    margin-top: 10px;
  }

  .author-post-details {
    display: flex;
    align-items: center;
    margin: 10px 0;

    div {
      display: flex;
      align-items: center;
    }

    .profile-picture {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }

  button {
    background-color: $base-color;
    color: #fff;
    margin-left: 10px;
    padding: 4px 15px;
  }

  .post-footer {
    display: flex;
    justify-content: space-between;

    .mark-button {
      border-radius: 0 5px 5px 0;
      background-color: #fafaff;
      border: 1px solid #31313144;
    }
  }
}

hr {
  border: none;
  height: 1px;
  background-color: #cccccc;
  margin: 20px 0;
}

.long-container {
  @extend %flex-center-column;
  width: 100%;
  height: auto;
  background-color: var(--card-bg);
  color: var(--text);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  border: 1px solid #74747444;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: $main-font-family;

  .profile-picture {
    @extend %profile-picture-size-30;
  }

  form {
    width: 100%;
  }

  textarea {
    padding: 5px 10px;
    margin-bottom: 0;
    box-sizing: border-box;
    width: 100%;
    justify-self: end;
  }

  div {
    width: 90%;
    display: flex;
    align-items: center;

    span {
      margin-left: 5px;
    }
  }

  button {
    background-color: $base-color;
    color: #fff;
    align-self: flex-start;
  }

  .commentText-span {
    align-items: center;
    width: 90%;
    margin-top: 10px;
    display: flex;
    line-height: 1.5;
  }

  .commentMetadata {
    flex-direction: row !important;
    justify-content: space-between;
    width: 100%;
  }
}

.long-container-post {
  height: 50px;
  border: 1px solid #2b2a2a54;
}

.create-post-component {
  @extend %flex-center-column;
  max-width: 90%;
  width: 600px;
  min-height: 700px;
  margin: auto;
  border: 1px solid #afafad;
  border-radius: 5px;
  padding: 30px 10px;

  label {
    width: 90%;
    margin-bottom: 5px;
  }

  input {
    padding: 5px 0;
  }

  input[type='file'] {
    margin-bottom: 10px;
  }

  button {
    padding: 5px 40px;
    border: none;
    background-color: $base-color;
    color: #fff;
    border-radius: 5px;
    font-size: 1.1em;

    &:hover {
      background-color: $button-hover-color;
    }
  }

  .upload-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    span {
      margin-left: 10px;
      color: $base-color;
      font-size: 1em;
      font-weight: bold;
    }
  }

  label span {
    text-transform: uppercase;
    color: #e75858;
    font-size: 0.8em;
  }

  .select-image-file-button {
    width: auto;
    background-color: #f1efff;
    color: $base-color;
    border: 1px solid $base-color;

    &:hover {
      background-color: #f1efff;
    }
  }
}

.not-found-component {
  @extend %flex-center-column;
  min-height: calc(100vh - 75px);
  margin: 0;
  width: 100%;
  text-align: center;

  h1 {
    font-size: 4em;
    color: #46aef7;
  }

  h2 {
    font-size: 1.2em;
  }
}

.cancel-button {
  background-color: #e2dddd !important;
  color: #363434 !important;

  &:hover {
    background-color: #ece8e8 !important;
  }
}

.approve-button {
  background-color: #23d48a !important;

  &:hover {
    background-color: #31e499 !important;
  }
}

.comments-component {
  max-width: 600px;
  width: 95%;
}

.signin-component {
  margin: 0;
  min-height: calc(100vh - 75px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .signup-form {
    div {
      height: auto;
    }
  }

  form {
    background-color: var(--card-bg);
    width: 95%;
    max-width: 600px;
    padding: 50px 0;
    border-bottom: 0 none;
    box-shadow: 0 1px 5px rgba(150, 150, 150, 0.4);
    border-radius: 5px;

    .error-span {
      width: 70%;
      color: #f53d3d;
      margin-bottom: 15px;
    }

    div {
      @extend %flex-center-column;

      label {
        margin-bottom: 5px;
      }

      input {
        border: var(--input-border);
        line-height: 2.6;
        margin-bottom: 0;
      }

      input,
      label {
        width: 70%;
      }

      p {
        font-size: 0.9em;
      }

      button {
        @extend %blue-3d-button;

        &:hover:not([disabled]) {
          @extend %blue-3d-button-hover;
        }

        &:disabled {
          @extend %blue-3d-button-disabled;
        }
      }
    }
  }
}

.profile-page-component {
  background-color: var(--card-bg);
  color: #66758d;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  width: 95%;
  display: grid;
  grid-template-rows: 150px auto;
  border-radius: 10px;
  overflow: hidden;

  .upper-container {
    @extend %flex-center-row;
    background: $base-color;
  }

  .image-container {
    background: #fff;
    width: 80px;
    height: 80px;
    padding: 4px;
    border-radius: 50%;

    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
  }

  .lower-container {
    padding: 20px;
    padding-top: 40px;
    display: grid;
    justify-items: center;
    text-align: center;

    div:nth-child(1) {
      > div {
        display: flex;
        width: 90%;
        margin: 0 auto;
        justify-content: flex-start;
      }
    }

    div:nth-child(2) {
      margin-top: 5px;
      align-self: flex-end;
    }
  }

  button {
    background-color: $base-color;
    color: #fff;
    border: 1px solid $base-color;
  }
}

.settings-component {
  @extend %flex-center-column;
  width: 100%;

  .profile-picture-section {
    @extend %flex-center-row;
    margin-bottom: 20px;
    width: 100%;

    img,
    button:nth-of-type(1) {
      margin-right: 10px;
    }

    img {
      width: 100px;
      height: 100px;
    }
  }

  h3 {
    margin-top: 20px;
  }

  > div {
    @extend %flex-center-column;
    align-items: flex-start;
  }

  input,
  textarea {
    border-bottom: 2px solid #68ade6;

    &:disabled {
      border-bottom: none;
    }
  }

  input,
  textarea,
  label:not(label.switch) {
    max-width: 500px;
    width: 100%;
  }

  label {
    margin-bottom: 4px;
    text-align: left;
  }

  input {
    margin-bottom: 20px;
  }

  textarea {
    margin-bottom: 0;
    height: 60px;

    + span {
      margin-top: 5px;
      width: 100%;
    }
  }

  button {
    color: #fff;
    background-color: $base-color;

    &.save-profile-button {
      background-color: $base-color;
    }
  }

  svg {
    margin-right: 5px;
    color: #fff !important;
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    button {
      margin-bottom: 10px;
    }
  }

  hr {
    width: 100%;
    background-color: #ffffff57;
  }
}

.blogmarks-component, .user-posts-component {
  width: 100%;

  h1, ul {
    width: 700px;
    max-width: 95%;
    margin: 0 auto;
  }

  h1 {
    font-weight: 500;
    background-color: var(--blogmark-header);
    border-top: var(--input-border);
    border-left: var(--input-border);
    border-right: var(--input-border);
    padding: 8px 10px;
    box-sizing: border-box;
    border-radius: 5px 5px 0 0;
  }

  ul {
    border-left: var(--input-border);
    border-right: var(--input-border);
    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
  }

  li {
    background-color: var(--blogmark-body);
    color: var(--text);
    font-weight: 500;
    font-size: 1.4em;
    padding: 8px;
    box-sizing: border-box;
    border-bottom: var(--input-border);
    
    &:nth-last-child(1) {
      border-radius: 0 0 5px 5px;
    }
  }

  .user-posts-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 0.8em;
    }

  }
}

.create-post-image-dropdown-component {
  @extend %flex-center-row;
  height: 100%;
  width: 100%;

  > div {
    @extend %flex-center-column;
    border: dashed 1px #a5a5a5;
    width: 100%;
    height: 450px;
    margin: auto;
  }

  img {
    width: 120px;
  }

  p {
    font-size: 1.1em;
    color: #a5a5a5;
  }

  button {
    width: 160px;
  }
}

@media (max-width: 720px) {
  nav {
    button {
      display: none;
    }
  }
}

@media (max-width: 650px) {

  .hidden-mobile {
    display: none !important;
  }

  .hidden-desktop {
    display: initial;
  }

  .hamburger-menu-container {
    margin-left: 20px;
  }

  nav {
    padding: 0px 25px;

    .mobile-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    
    .search-component-container { 
      input, .ais-Hits { 
        width: 190px;
      }
    }
  }

  .desktop {
    display: none !important;
  }

  main {
    > section {
      padding: 8px;
      height: 100%;
    }
  }

  .home-component-featured-post {
    width: 100%;
  }

  .home-component-posts-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    > span:not(:nth-last-of-type(1)) {
      margin-bottom: 20px;
    }

    .card {
      grid-template-rows: none;
      border-radius: initial;

      .card-link {
        display: none;
      }
    }

  }
  .home-component-featured-post {
    border-radius: initial;

    .featured-post-img  {
      border-radius: initial;
    }
  }

  .post-component {
    grid-template-rows: 300px auto;

    .post-content {
      padding: 20px;
    }
  }

  .settings-component {
    span:nth-of-type(1) {
      margin: 0 auto;
    }

    > div {
      width: 80%;
      display: flex;
      align-items: center;
    }

    .profile-picture-section {
      flex-direction: column;

      button:nth-of-type(1) {
        margin: 15px 0;
      }

      img,
      button {
        margin-right: 0;
      }
    }
  }

  .user-posts-component {
    .user-posts-list li { 
      font-size: 1.2em;
    }
  }
}

.loader {
  $width: 15px;
  $height: 15px;
  $bounce_height: 30px;

  .wrap {
    @extend %flex-center-column;
    height: 100vh;
  }

  .text {
    color: $base-color;
    display: inline-block;
    margin-left: 20px;
    font-family: $main-font-family;
    font-size: 2.5em;
    text-align: center;
  }

  .bounceball {
    position: relative;
    display: inline-block;
    height: 37px;
    width: $width;
    &:before {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      width: $width;
      height: $height;
      border-radius: 50%;
      background-color: $base-color;
      transform-origin: 50%;
      animation: bounce 500ms alternate infinite ease;
    }
  }

  @keyframes bounce {
    0% {
      top: $bounce_height;
      height: 5px;
      border-radius: 60px 60px 20px 20px;
      transform: scaleX(2);
    }
    35% {
      height: $height;
      border-radius: 50%;
      transform: scaleX(1);
    }
    100% {
      top: 0;
    }
  }
}
